.negativeMeaning {
  color: #a50e0e;
  background-color: #fce8e6;
}
.positiveMeaning {
  background-color: #e6f4ea;
  color: #137333;
}

.tickerItem {
  width: fit-content;
  border-radius: 8px;
  padding: 0 8px;
}
